<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyApp">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="StandardAct"
            android:exported="false"
            android:launchMode="standard" />
        <activity
            android:name="SingleTopAct"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name="SingleTaskAct"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name="SingleInstanceAct"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name="IntentFlagSetAct"
            android:exported="false" />
        <activity
            android:name="A"
            android:exported="false" />
        <activity
            android:name="B"
            android:exported="false"
            android:taskAffinity="adam.task" />
        <!--
            This attribute is valid when the caller stativity use the FLAG_ACTIVITY_NEW_TASK to start the activity
            or assign the launchMode to singleTask or singleInstance
        -->
        <activity
            android:name="C"
            android:exported="false" />
        <activity
            android:name="D"
            android:exported="false" />
    </application>

</manifest>